In [2]:
#  Declaring and assigning variables

age = 25
is_Student = True
name = "Atharva"
height = 6

print("Age : ", age , " , " , "name : ", name , " , " , "height : ", height)

Age :  25  ,  name :  Atharva  ,  height :  6

In [ ]:
# Type conversion

age = 25
print(type(age))
age_str = str(age)
print(type(age_str))

In [3]:
age= '25'

print(type(age))

<class 'str'>

In [4]:
# error

name = "Atharva"
int(name)
print(type(name))

ValueError: invalid literal for int() with base 10: 'Atharva'

In [ ]:
height = 5.11
type(height)

<class 'float'>

In [6]:
float(int(height))

5.0

In [ ]:
# Dynamic typing
var = 10
print(var, type(var))


var = "Atharva"
print(var, type(var))

var = 10.11
print(var, type(var))

10 <class 'int'>
Atharva <class 'str'>
10.11 <class 'float'>

In [11]:
age = int(input("Enter the age"))
print(age, type(age))

ValueError: invalid literal for int() with base 10: '454.12'

Simple Calculator

In [12]:
num1 = float(input("Enter first number : "))
num2 = float(input("Enter second number : "))

add = num1 + num2
sub = num1 - num2
mul = num1 * num2
div = num1 / num2

print("summation", add)
print("substraction", sub)
print("multiplication", mul)
print("Dividation", div)

summation 24.0
substraction 0.0
multiplication 144.0
Dividation 1.0